[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "==2018.10.5"
requests = "*"
pymongo = "*"
"bs4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
